.product-img{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-5.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-img1{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-2.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-img2{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-4.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-img3{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-4.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-img4{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-3.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-img5{
  background-image: url('https://themewagon.github.io/fruitables/img/fruite-item-1.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box {
  transition: box-shadow 0.3s ease-in-out;
}

.box:hover{
  box-shadow: 5px 5px 25px gray;
}

.organic1{
  background-image: url('https://themewagon.github.io/fruitables/img/vegetable-item-5.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
}

.organic2{
  background-image: url('https://themewagon.github.io/fruitables/img/vegetable-item-6.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
}

.organic3{
  background-image: url('https://themewagon.github.io/fruitables/img/vegetable-item-1.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
}

.organic4{
  background-image: url('https://themewagon.github.io/fruitables/img/vegetable-item-4.jpg');
  height: 30vh;
  width: 20vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
}